<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="/style/styel.css" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="skin-blue-black">
<header>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
    <h3>Dashboard</h3>
    <a href="#">
        <i class="fas fa-sign-out-alt"></i>
    </a>
</header>
<nav>
    <ul>
        <li>
            <a class="toggle">
                <span class="icon"><i class="fas fa-bars"></i></span>
                <span class="title">Menu</span>
            </a>
        </li>
        <li>
            <a th:href="@{/}">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a th:href="@{/employee_list}">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="title">Employee Records</span>
            </a>
        </li>
        <li>
            <a th:href = "@{/showNewEmployeeForm}">
                <span class="icon"><i class="fas fa-envelope"></i></span>
                <span class="title">Register New Employee</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-info"></i></span>
                <span class="title">Help</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="title">Setting</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-lock"></i></span>
                <span class="title">Password</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>

<script src="/script/script.js"></script>
